body {
  /* background-color: rgb(210, 217, 255); */
  background-image: url("../assets/halftone-yellow/halftone-yellow.png")

}
.list-group-item {
  line-height: 2.5;
}

#header{
  display:inline-flex;
  /* margin: 5% auto; */
  text-align: center;

}
#header p{
  font-family: 'Michroma', sans-serif;
  font-size: 5em;
}
form, input, label, p {
  color: black !important;
}
#primary {
  background-color: white;
  padding: 1%;
  box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

}
input {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/* #competitor_row {
  float: left;
  width: 50%;
} */

#map {
  height: 50%;
  width: 100%;
  box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;

  /* border: 1px solid black; */
}

#mainLogo {
  height: 30%;
  width: 30%;
  margin-top: 5%;

}

form.signup,
form.login {
  margin-top: 50px;
}

#signup-photo {
  align: center;
}

/* #signup-body {
  background-image: url("../assets/bjjpan-women.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
} */