.list-group-item {
  line-height: 2.5;
}

#header{
  display:inline-flex;
  /* margin: 5% auto; */
  text-align: center;

}
#header p{
  font-family: 'Michroma', sans-serif;
  font-size: 5em;
}
form, input, label, p {
  color: black !important;
}

/* #competitor_row {
  float: left;
  width: 50%;
} */

#map {
  height: 50%;
  width: 100%;
}

#mainLogo {
  height: 15%;
  width: 15%
}